/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background:  #fff;
    display:  -ms-flexbox;
    display:  flex;
}

.splash-inner {
    position: absolute;
    width: 100%;
}


.song-title {
    color: #fff;
    font-size: 60px;
    margin: 48px 0 0 0;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

.artist {
    margin: 48px 0 0 0;
    font-size: 18px;
    color: #fff;
}

.splash i {
    font-size: 30px;
    background: #d63031;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 50%
}

.splash p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 24px;
}